#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR "SnFlash device driver user-mode application"
#define VER_INTERNALNAME_STR "SnFlash.exe"
#define VER_ORIGINALFILENAME_STR "SnFlash.exe"

#include <common.ver>